
h1{

  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
     background-image: url("https://i.ytimg.com/vi/PUOun9RImC8/maxresdefault.jpg");

}

